<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Css/price-range.css" rel="stylesheet">
    <link href="~/Css/animate.css" rel="stylesheet">
    <link href="~/Css/main.css" rel="stylesheet">
    <link href="~/Css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    @*<link rel="shortcut icon" href="~/Images/ico/favicon.ico">*@
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Images/ico/apple-touch-icon-57-precomposed.png">
    
</head><!--/head-->
<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +0937 550 946</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="index.html"><img src="~/Images/home/logo.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                @*<li><a href="#"><i class="fa fa-user"></i> Account</a></li>*@
                                @*<li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>*@
                                @*<li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>*@
                                <li><a href="~/Products/CartDetails"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                                <li><a href="login.html"><i class="fa fa-lock"></i> Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="index.html" class="active">Trang chủ</a></li>
                                <li class="dropdown">
                                    <a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="shop.html">Products</a></li>
                                        <li><a href="product-details.html">Product Details</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="~/Products/CartDetails">Cart</a></li>
                                        <li><a href="login.html">Login</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Blog<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="blog.html">Blog List</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="404.html">Chính Sách Bán Hàng</a></li>
                                <li><a href="contact-us.html">Liên Hệ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-bottom-->
    </header><!--/header-->
    <section id="slider">
        <!--slider-->
        @Html.Partial("_SliderPartial")
    </section><!--/slider-->
    <section>
        <div class="container">
            <div class="row">
                <!--PHẦN MENU LEFT-->
                <div class="col-sm-3">
                    @Html.Partial("_MenuLeftPartial")
                </div>
                <!--PHẦN NỘI DUNG CHÍNH-->
                <div class="col-sm-9 padding-right">
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <!--Footer-->
        @Html.Partial("_footerPartial")
    </footer><!--/Footer-->

    <script src="~/Js/jquery.js"></script>
    <script src="~/Js/bootstrap.min.js"></script>
    <script src="~/Js/jquery.scrollUp.min.js"></script>
    <script src="~/Js/price-range.js"></script>
    <script src="~/Js/jquery.prettyPhoto.js"></script>
    <script src="~/Js/main.js"></script>
    @*<script type="text/javascript">
        $(document).ready(function () {
            GetCategory();
        })
        function GetCategory() {
            $.ajax({
                url: '/Home/GetCategory',
                method: 'GET',
                data: {}
            }).done(function (data) {
            })
        }
    </script>*@
</body>
</html>